name: Testing with Pytest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python 3.12
        uses: actions/setup-python@v2
        with:
          python-version: 3.12  

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests with Pytest
        run: |
          python -m pytest --junitxml=pytest-report.xml
        continue-on-error: false

      - name: Upload test results
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: pytest-report.xml

      - name: Tests passed
        if: success()
        run: echo "Tests passed successfully ✅"

      - name: Tests failed
        if: failure()
        run: echo "Tests failed ❌"
